In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [7]:
dframe1 = DataFrame(np.arange(8).reshape(2,4),index=pd.Index(['LA','SF'],name='city'),columns=pd.Index(['A','B','C','D'],name='letter'))

In [3]:
dframe1

      0  1  2  3
city
LA    0  1  2  3
SF    4  5  6  7

In [8]:
dframe_st = dframe1.stack()

In [9]:
dframe_st

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int32

In [10]:
dframe_st.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [11]:
# 스텍은 표로 만들어주나보다. 표 해제도 된다.

In [12]:
dframe_st.unstack('letter')

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [13]:
dframe_st.unstack('city')

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [14]:
# 아... 표를 만들어주는게 아니라 정형화의 어떤 그런 것같다. 선택하는 것에 따라 정형화 되는 듯.

In [15]:
ser1 = Series([0,1,2],index=['Q','X','Y'])
ser2 = Series([4,5,6],index=['X','Y','Z'])

In [16]:
dframe = pd.concat([ser1,ser2],keys=['Alpha','Beta'])
dframe

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [17]:
dframe.unstack()

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [18]:
dframe.unstack().stack()

Alpha  Q    0.0
       X    1.0
       Y    2.0
Beta   X    4.0
       Y    5.0
       Z    6.0
dtype: float64

In [19]:
# 그럼 이것도 되나??

In [20]:
dframe.unstack().stack().unstack()

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [21]:
# 된다...ㄷㄷ

In [22]:
dframe

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [28]:
dframe.unstack()

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [30]:
dframe

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [31]:
dframe.stack(dropna=False)

AttributeError: 'Series' object has no attribute 'stack'

In [32]:
dframe.unstack().unstack()

Q  Alpha    0.0
   Beta     NaN
X  Alpha    1.0
   Beta     4.0
Y  Alpha    2.0
   Beta     5.0
Z  Alpha    NaN
   Beta     6.0
dtype: float64

In [33]:
dframe.stack(dropna=False)

AttributeError: 'Series' object has no attribute 'stack'

In [35]:
dframe.unstack()

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [38]:
dframe.stack(dropna=False)

AttributeError: 'Series' object has no attribute 'stack'