In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
dframe = DataFrame({'key1':['A']*2 + ['B']*3,'key2':[2,2,2,3,3]})

In [3]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [4]:
dframe.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [5]:
dframe.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [6]:
# 안되는 애 출력하는 메소드인듯

In [7]:
dframe.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [8]:
# 왜 3번배열에 있는 애들은 제거하지 않을까??

In [9]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [12]:
dframe.drop_duplicates(['key1'],take_last=True)

TypeError: drop_duplicates() got an unexpected keyword argument 'take_last'