In [8]:
import pandas as pd
from io import StringIO

In [ ]:
# from StringIO 에서 from io로 변경... 3.x에서...

In [10]:
data = """\
Sample Animal Intelligence
1. Dog Smart
2. Dog Smart
3. Cat Dumb
4. Cat Dumb
5. Dog Dumb
6. Cat Smart
"""

In [11]:
dframe = pd.read_table(StringIO(data),sep='\s+')

In [12]:
dframe

   Sample Animal Intelligence
0     1.0    Dog        Smart
1     2.0    Dog        Smart
2     3.0    Cat         Dumb
3     4.0    Cat         Dumb
4     5.0    Dog         Dumb
5     6.0    Cat        Smart

In [15]:
pd.crosstab(dframe.Animal,dframe.Intelligence,margins=True)

Intelligence  Dumb  Smart  All
Animal
Cat              2      1    3
Dog              1      2    3
All              3      3    6