In [11]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [6]:
json_obj = """
{"zoo_animal": "Lion",
 "food": ["Meat", "Veggies", "Honey"],
 "fur": "Golden",
 "Clothes": null,
 "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [7]:
import json

In [8]:
data = json.loads(json_obj)

In [9]:
data

{'Clothes': None,
 'diet': [{'food': 'grass', 'fur': 'Brown', 'zoo_animal': 'Gazelle'}],
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'zoo_animal': 'Lion'}

In [10]:
json.dumps(data)

'{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "Clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}'

In [12]:
dframe = DataFrame(data['diet'])

In [13]:
dframe

    food    fur zoo_animal
0  grass  Brown    Gazelle